.top-bar{
    background-color: #01579B;
    -webkit-box-shadow: 2px 3px 35px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 35px -10px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 35px -10px rgba(0,0,0,0.75);
    z-index: 1;
}
.top-bar ul {
    background-color: #01579B;

}
.top-bar a, .logo{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.top-bar a:hover{
    background: #0277BD;
}
body {
    background-color: #EEEEEE;
}
.card-divider{
    background-color: #1673b1;
}
.card-divider h4 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.subtitle {
    font-family: 'Raleway', sans-serif;
}
