{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static  'assets/apple-icon-72x72.png'%}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'assets/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'assets/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'assets/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{% static 'polls/css/foundation.css' %}"/>
        <link rel="stylesheet" href="{% static 'polls/css/app.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title>{% block title %} Devpoll{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="top-bar-left hide-for-medium-only hide-for-small-only">
                    <span class="logo">DEVPOLL</span>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="{% url 'polls:index' %}">Inicio</a></li>
                        <li><a href="{% url 'polls:list' %}">Encuestas</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <h2 class="text-center subtitle">{% block subtitle %} {% endblock %}</h2>
        <div class="section row">
                {% block section %}

                {% endblock %}
        </div>
        <script src="{% static 'polls/js/vendor/jquery.js' %}"></script>
        <script src="{% static 'polls/js/vendor/what-input.js' %}"></script>
        <script src="{% static 'polls/js/vendor/foundation.js' %}"></script>
        <script src="{% static 'polls/js/vendor/app.js' %}"></script>
    </body>

</html>


