{% extends 'base.html' %}
{% block title %} Devpoll {% endblock %}

{% block subtitle %} Bienvenido al sitio de encuestas libres {% endblock %}

{% block section %}
    <div class="column large-3"></div>
    <div class="column large-6 medium-12 small-12">
        <div class="card float-center">
            <div class="card-divider">
                <h4>Puedes crear tus encuestas aqui</h4>
            </div>
            <div class="card-section">
                <form action="{% url 'polls:new' %}" method="post">


                </form>
            </div>

        </div>
    </div>
    <div class="column large-3"></div>
{% endblock %}